@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  margin: 0px;
  background: rgb(40, 40, 40);
}

h1{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size:40px;
  margin-top:0.5em;
  margin-left: 0.5em;
}

h2{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size:30px;
  margin-top:0.5em;
  margin-left: 0.5em;
}




li {
  display: inline;
}
a{
  color: white;
}

a:hover{
  color: silver;
}
p{
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 1.5em;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;



}

img{
  display: block;
  margin-top: 0.5em;
  float: left;
  margin: 0px 15px 15px 0px;
  border: 1px solid white;
  border-radius: 4px;
}




span:hover{
  color: rgb(20,20,20);
  background: #fff
}

span:hover .underline{
  width: 100%;
  opacity: 1;
}

.picture-paragraph {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;

}

.paragraph {
	display: grid;
    grid-template-columns: auto;
  	grid-template-rows: auto;
  	grid-gap: 10px;


}


div.image-gallery {
  display: block;
}

div.image-gallery img {
  display: block;
  float: left;
}

.clear {
  clear: both;
  height: 0;
  width: 0;
  font-size: 1px;
  line-height: 0;
}


.active{
  background-color: #9b59b6;
}

.heading{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-color:white;
  margin-top: 40%
  opacity: 0.5
  text-transform: lowercase;
  letter-spacing: 3px;
}


.button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  background-color: rbga(0,0,0,0);
  border: 1px white;
  display: inline-block;
  border-style: solid;
  color: white;
  padding: 15px 35px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 3px;
  transition:0.2s;
  margin: 10px;
}

.button:hover {
  color: rgb(20,20,20);
  background: #fff

}


.underline{

  position: absolute;
  margin-top: 5px;
  height: 1.5px;
  width: 0px;
  background-color: rgb(20, 20, 20);
  transition: 1s;
  opacity: 0;
}


.button:hover .underline {
  width: 90px;
  opacity: 1;

}
